{% extends "base.html" %}

{% block content %}
    <h1>Courses</h1>
    <div id="courses">
        {% for course in courses %}
            <div class="course">
                <h2>{{ course.title }}</h2>
                <a class="image-container" href="{% url "course_app:course_detail" course.id %}">
                    <img width="300" height="300" src="{{ course.image.url }}" alt="A sample image"/>
                </a>
                <p>{{ course.description|truncatewords:10 }}</p>

                {% if courses.has_next and forloop.last %}
                    <span hx-get="{% url 'course_app:course_list' %}?page={{ courses.next_page_number }}"
                          hx-swap="beforeend" hx-target="#courses" hx-select=".course"
                          hx-trigger="revealed">
            </span>
                {% endif %}

            </div>
        {% endfor %}

    </div>
{% endblock %}