{% extends "base.html" %}


{% block content %}
    <h1>Your Courses Are These: </h1>
    <br>
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{ course.image.url }}" height="350" width="100"
                         alt="Course 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description|truncatewords:15 }}</p>
                        <a href="{% url "course_app:course_detail" course.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
                <br>
            </div>
        {% endfor %}
    </div>
    <br>
{% endblock %}